@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: #333;
}
select{
    font-family: 'Open Sans';
}
a{
    color: #333;
    text-decoration: none;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
}
.navigation-buttons{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-top: 25px;
}
.navigation-buttons__left-block{
    display: flex;
    align-items: center;
}
.navigation-buttons__right-block{
    display: flex;
    align-items: center;;
}
.navigation-buttons__select{
    margin-right: 25px;
}
.navigation-buttons__link{
    margin-right: 25px;
}
.navigation-buttons__profile-link{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: aliceblue;
}
.navigation-buttons__link:hover{
    text-decoration: underline;
}
.navigation-buttons__select, .document-setting-buttons__currency-section{
    padding: 5px 10px 5px 10px;
    background-color: white;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .navigation-buttons {
        display: none;
    }
}

.collection-panel-up{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 10vw;
}
.collection-panel-up__left{

}
.collection-panel-up__left select{
    margin-left: 25px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    font-size: 16px;
}
.collection-panel-up__right{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection-panel-up__right span{
    width: 10vw;
    display: flex;
}

.collection{
    width: 100vw;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #333;
}
.collection__block{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 10px 5vw 10px 5vw;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.collection__block:hover{
    background-color: #f5f5f5;
}
.collection__block__left{
    display: flex;
    width: 600px;
    justify-content: space-between;
}
.collection__block__header{
    font-weight: bold;
    width: 350px;
}
.collection__block__subheader{
    width: 125px;
}
.collection__block__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}
.collection__block__right span{
    width: 10vw;
    display: flex;
}

@media screen and (max-width: 1024px) {
    body{
        font-size: 16px;
    }
    .collection__block__left{
        flex-direction: column;
    }
    .collection__block__right{
        width: 54vw;
    }
    .collection-panel-up__right{
        width: 54vw;
    }
    .collection__block__right span{
        width: 18vw;
    }
    .collection-panel-up__right span{
        width: 18vw;
    }
    .collection-panel-up__left select{
        margin-left: 10px;
        padding: 5px 7px 5px 7px;
        font-size: 12px;
    }
    .collection__block__left{
        width: 450px;
    }
    .collection__block__header{
        width: 250px;
    }
    .collection__block__subheader{
        width: 100px;
    }
    .collection-panel-up{
        width: 90vw;
        margin-left: 0;
    }
}

@media screen and (max-width: 764px) {
    body{
        font-size: 14px;
    }
    .collection-panel-up__left select{
        font-size: 10px;
    }
    .collection__block__right{
        width: 39vw;
    }
    .collection-panel-up__right{
        width: 39vw;
    }
    .collection__block__right span{
        width: 13vw;
    }
    .collection-panel-up__right span{
        width: 13vw;
    }
    .collection__block__header{
        width: 150px;
    }
}

























