@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: #333;
}

select, input {
    font-family: 'Open Sans';
    padding: 5px 10px 5px 10px;
    background-color: white;
    font-size: 16px;
}

select {
    cursor: pointer;
}

a {

}

.fa {
    font-size: 5px;
    cursor: pointer;
}

.link{
    color: #333;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.add-button {
    color: cornflowerblue;
    cursor: pointer;
}

.link_disabled {
    color: gray;
    pointer-events: none;
}

/*TOP BLOCK*/

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
    padding-bottom: 150px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-top: 25px;
}

.navigation-buttons__left, .navigation-buttons__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-buttons__elem {
    margin-right: 25px;
}

.navigation-buttons__profile-link {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: aliceblue;
}

.navigation-buttons__profile-link:hover {
    text-decoration: none;
}

/*INVOICE TOP*/

.main-header {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.invoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 800px;
    padding: 75px 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.new-doc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 900px;
    margin-bottom: 10px;
}

.new-doc .link {
    color: cornflowerblue;
}

/*INVOICE HEADER*/

.invoice__header-container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}

.invoice__header-container-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.invoice__header-container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-input {
    border: none;
    padding: 0;
    height: 1em;
}

.invoice__header {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.invoice__number, .invoice__date {
    width: 100px;
    margin-left: 10px;
}

.invoice__date {
    text-align: right;
}

/*INVOICE TABLE*/

.table {
    width: 750px;
    margin-top: 50px;
}

.table-block-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 780px;
}

.table-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    border-bottom: 1px solid #333;
    padding: 12px 0;
}

.table-block__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.table-block__elem {
    width: 100px;
    border: none;
    padding: 0;
    overflow: hidden;
}

.count-input, .price-input {
    margin-left: 15px;
}

.table-block__right .table-block__elem {
    text-align: right;
}

.remove-button-container {
    opacity: 0.2;
    cursor: pointer;
    margin-left: 15px;
}

.remove-button-container:hover {
    opacity: 1;
}

/*INVOICE UNDER TABLE*/

.under-table-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    padding: 12px 0;
}

.send-button-container {
    display: flex;
    align-items: center;
    width: 750px;
    justify-content: flex-end;
}

.send-button-container__send-button {
    font-size: 20px;
    padding: 10px 20px;
    color: #333;
    background-color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.send-button-container__send-button:active {
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
}

/*PAYMENT MIXES*/

.payment__header {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

/*PAYMENT TABLE*/

.container-table-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-payment-block-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.table-payment-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    border-bottom: 1px solid #333;
    padding: 12px 0;
}

.table-payment-block__elem {
    width: 100px;
    height: 1em;
    border: none;
    padding: 0;
    background-color: #f9f9f9;
    overflow: hidden;
}

.table-payment-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay-input {
    text-align: right;
}

.add-button-payment {
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: flex-start;
    margin-top: 10px;
}

/*CURRENCY*/

.currency {
    display: flex;
    align-items: center;
    width: 450px;
    margin-top: 25px;
    justify-content: space-between;
}

.currency__description {
    margin-right: 10px;
}

/*LESS-300*/

.less-300 {
    display: none;
}

@media screen and (max-width: 1024px) {
    .invoice__header-container-main,
    .table,
    .table-block,
    .under-table-block,
    .send-button-container {
        width: 450px;
    }

    .navigation-buttons {
        display: none;
    }

    .main-header {
        font-size: 30px;
    }

    .new-doc {
        width: 600px;
    }

    .invoice {
        width: 500px;
    }

    .table-block-with-button {
        width: 480px;
    }

    .count-input, .price-input {
        margin-left: 0;
    }

    .send-button-container__send-button {
        font-size: 16px;
    }

    .invoice__header-container-column {
        width: 250px;
    }

}

@media screen and (max-width: 764px) {
    body {
        font-size: 16px;
    }

    .invoice__header-container-main,
    .table,
    .table-block,
    .under-table-block,
    .send-button-container {
        width: 70vw;
    }

    .new-doc {
        width: 80vw;
    }

    .invoice {
        width: 75vw;
        padding: 45px 25px;
    }

    .invoice, .table-block__elem, .header-input {
        font-size: 12px;
    }

    .invoice__header-container-main {
        flex-direction: column;
    }

    .invoice__header-container-column {
        width: 70vw;
    }

    .invoice__header-container-row {
        width: 70vw;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .header-input {
        width: 30vw;
    }

    .invoice__header {
        font-size: 20px;
    }

    .table {
        margin-top: 15px;
    }

    .table-block-with-button {
        width: 73vw;
    }

    .table-block__elem {
        width: 18vw;
    }

    .send-button-container__send-button {
        font-size: 14px;
    }

    .payment,
    .table-payment-block,
    .add-button-payment,
    .currency {
        width: 75vw;
    }

    .payment {
        width: 80vw;
    }

    .payment__header {
        font-size: 20px;
    }

    .currency {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .currency__header {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 400px) {
    body {
        font-size: 14px;
    }

    .main-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .container-main {
        display: none;
    }

    .less-300 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        font-size: 20px;
    }
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.animated {
    animation: animation 0.15s;
}
