.profile{
    margin-top: 100px;
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.profile__line{
    width: 60vw;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}
.profile__data-name{
    width: 10vw;
    color: gray;
}
.profile__data{
    width: 40vw;
}
.profile input{
    cursor: pointer;
}
.email-note{
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.profile__add-button-container{
    width: 80vw;
}
.profile__add-button{
    cursor: pointer;
    color: cornflowerblue;
}

@media screen and (max-width: 1024px) {
    .profile__line{
        flex-direction: column;
        align-items: flex-start;
    }
    .profile__data{
        margin-top: 4px;
    }
    .email-note{
        margin-top: 4px;
    }
}



























